# VS Code
vscode/.config/Code/Backups
vscode/.config/Code/blob_storage
vscode/.config/Code/Cache
vscode/.config/Code/CachedConfigurations
vscode/.config/Code/CachedData
vscode/.config/Code/CachedProfilesData
vscode/.config/Code/Code Cache
vscode/.config/Code/Crashpad
vscode/.config/Code/DawnGraphiteCache
vscode/.config/Code/DawnWebGPUCache
vscode/.config/Code/Dictionaries
vscode/.config/Code/GPUCache
vscode/.config/Code/Local Storage
vscode/.config/Code/logs
vscode/.config/Code/Service Worker
vscode/.config/Code/Session Storage
vscode/.config/Code/Shared Dictionary
vscode/.config/Code/WebStorage
vscode/.config/Code/Cookies
vscode/.config/Code/Cookies-journal
vscode/.config/Code/DIPS
vscode/.config/Code/machineid
vscode/.config/Code/Network Persistent State
vscode/.config/Code/Preferences
vscode/.config/Code/SharedStorage
vscode/.config/Code/TransportSecurity
vscode/.config/Code/Trust Tokens
vscode/.config/Code/Trust Tokens-journal
vscode/.config/Code/User/globalStorage
vscode/.config/Code/User/History
vscode/.config/Code/User/snippets
vscode/.config/Code/User/workspaceStorage

# VS Codium
vscode/.config/VSCodium/Backups
vscode/.config/VSCodium/blob_storage
vscode/.config/VSCodium/Cache
vscode/.config/VSCodium/CachedConfigurations
vscode/.config/VSCodium/CachedData
vscode/.config/VSCodium/CachedProfilesData
vscode/.config/VSCodium/Code Cache
vscode/.config/VSCodium/Crashpad
vscode/.config/VSCodium/DawnGraphiteCache
vscode/.config/VSCodium/DawnWebGPUCache
vscode/.config/VSCodium/Dictionaries
vscode/.config/VSCodium/GPUCache
vscode/.config/VSCodium/Local Storage
vscode/.config/VSCodium/logs
vscode/.config/VSCodium/Service Worker
vscode/.config/VSCodium/Session Storage
vscode/.config/VSCodium/Shared Dictionary
vscode/.config/VSCodium/WebStorage
vscode/.config/VSCodium/Cookies
vscode/.config/VSCodium/Cookies-journal
vscode/.config/VSCodium/DIPS
vscode/.config/VSCodium/machineid
vscode/.config/VSCodium/Network Persistent State
vscode/.config/VSCodium/Preferences
vscode/.config/VSCodium/SharedStorage
vscode/.config/VSCodium/TransportSecurity
vscode/.config/VSCodium/Trust Tokens
vscode/.config/VSCodium/Trust Tokens-journal
vscode/.config/VSCodium/User/globalStorage
vscode/.config/VSCodium/User/History
vscode/.config/VSCodium/User/snippets
vscode/.config/VSCodium/User/workspaceStorage
