# VS Code
vscode/.config/Code/Backups
vscode/.config/Code/blob_storage
vscode/.config/Code/Cache
vscode/.config/Code/CachedConfigurations
vscode/.config/Code/CachedData
vscode/.config/Code/CachedProfilesData
vscode/.config/Code/Code Cache
vscode/.config/Code/Crashpad
vscode/.config/Code/DawnGraphiteCache
vscode/.config/Code/DawnWebGPUCache
vscode/.config/Code/Dictionaries
vscode/.config/Code/GPUCache
vscode/.config/Code/Local Storage
vscode/.config/Code/logs
vscode/.config/Code/Service Worker
vscode/.config/Code/Session Storage
vscode/.config/Code/Shared Dictionary
vscode/.config/Code/WebStorage
vscode/.config/Code/Cookies
vscode/.config/Code/Cookies-journal
vscode/.config/Code/DIPS
vscode/.config/Code/machineid
vscode/.config/Code/Network Persistent State
vscode/.config/Code/Preferences
vscode/.config/Code/SharedStorage
vscode/.config/Code/TransportSecurity
vscode/.config/Code/Trust Tokens
vscode/.config/Code/Trust Tokens-journal
vscode/.config/Code/User/globalStorage
vscode/.config/Code/User/History
vscode/.config/Code/User/snippets
vscode/.config/Code/User/workspaceStorage

# VS Codium
vscodium/.config/VSCodium/Backups
vscodium/.config/VSCodium/blob_storage
vscodium/.config/VSCodium/Cache
vscodium/.config/VSCodium/CachedConfigurations
vscodium/.config/VSCodium/CachedData
vscodium/.config/VSCodium/CachedProfilesData
vscodium/.config/VSCodium/Code Cache
vscodium/.config/VSCodium/Crashpad
vscodium/.config/VSCodium/DawnGraphiteCache
vscodium/.config/VSCodium/DawnWebGPUCache
vscodium/.config/VSCodium/Dictionaries
vscodium/.config/VSCodium/GPUCache
vscodium/.config/VSCodium/Local Storage
vscodium/.config/VSCodium/logs
vscodium/.config/VSCodium/Service Worker
vscodium/.config/VSCodium/Session Storage
vscodium/.config/VSCodium/Shared Dictionary
vscodium/.config/VSCodium/WebStorage
vscodium/.config/VSCodium/Cookies
vscodium/.config/VSCodium/Cookies-journal
vscodium/.config/VSCodium/code.lock
vscodium/.config/VSCodium/DIPS
vscodium/.config/VSCodium/DIPS-wal
vscodium/.config/VSCodium/machineid
vscodium/.config/VSCodium/Network Persistent State
vscodium/.config/VSCodium/Preferences
vscodium/.config/VSCodium/SharedStorage
vscodium/.config/VSCodium/SharedStorage-wal
vscodium/.config/VSCodium/TransportSecurity
vscodium/.config/VSCodium/Trust Tokens
vscodium/.config/VSCodium/Trust Tokens-journal
vscodium/.config/VSCodium/User/globalStorage
vscodium/.config/VSCodium/User/History
vscodium/.config/VSCodium/User/snippets
vscodium/.config/VSCodium/User/workspaceStorage
