* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "JetBrainsMono Nerd Font";
  font-size: 11px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: rgba(0, 0, 0, 0);
  min-height: 20px;
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #3a3d40;
  color: #cdd6f4;
}

#workspaces button:hover {
  color: #2b2d30;
  background-color: #cdd6f4;
}

#workspaces button.focused {
  background-color: #ffffff;
  color: #000000;
}

#workspaces button.urgent {
  background-color: #3a3d40;
  color: #f38ba8;
}

#clock,
#battery,
#language,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #3a3d40;
}
#window {
  padding: 4px;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #3a3d40;

}

#mpris.playing {
  color: #a6e3a1;
}

#mpris.paused {
  color: #9399b2;
}

#custom-sep {
  padding: 0px;
  color: #585b70;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: #94e2d5;
}

#memory {
  color: #cba6f7;
}

#clock {
  color: #74c7ec;
}

/* #clock.simpleclock { */
/*   color: #89b4fa; */
/* } */

#window {
  color: #cdd6f4;
}

#pulseaudio {
  color: #b4befe;
}

#pulseaudio.muted {
  color: #a6adc8;
}

#custom-logo {
  color: #89b4fa;
}

#custom-power {
  color: #f38ba8;
}

tooltip {
  background-color: #3a3d40;
  border: 2px solid #89b4fa;
}
